<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sup.mapper.StorehouseMapper">

    <insert id="addstore">
        insert into supermarket.storehouse(storehouse_name)value(#{storehouseName})
    </insert>
    <update id="updateStore">
        update supermarket.storehouse
        <set>
            <if test="storehouseName!=null">
                storehouse_name=#{storehouseName}
            </if>
        </set>
        where storehouse_id=#{storehouseId}
    </update>
    <delete id="deleteMapper">
        delete from supermarket.storehouse where storehouse_id=#{id}
    </delete>
    <select id="findById" resultType="com.sup.vo.StorehouseVo">
        select * from supermarket.storehouse where storehouse_id=#{id}
    </select>
    <select id="getBystorehouseName" resultType="com.sup.pojo.Goodsmessage">
            select * from goodsmessage where goodstype=#{name}
    </select>
</mapper>